#include <windows.h>
#include "resource.h"

WindowsAppMenu MENU {
           POPUP "&Help"
           {
                 MENUITEM "&About", IDR_ABOUT
           }
}

AboutDlg DIALOG FIXED 100, 100, 300, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU 
CAPTION "About Generic"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&OK", IDOK, 72, 74, 40, 14
    LTEXT  "hello world how are you today what has happend to you", 104, 45, 20, 250, 8
    LTEXT  "Copyright (c) Microsoft Corporation", 105, 45, 35, 140, 8
END



